.btn__repro {
  color: #638a31;
  background: white;
  border-radius: 10px;
  border: 2px solid #638a31;
  display: inline-block;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  margin-left: 12px;
}

.btn__repro:hover {
  color: white;
  background: #638a31;
  border: 2px solid white;
}

.btn__enviar {
  color: white;
  background: #638a31;
  border-radius: 10px;
  border: 2px solid white;
  display: inline-block;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
}

.btn__enviar:hover {
  color: #638a31;
  background: white;
  border: 2px solid #638a31;
}

.btn__carrito{
  color: #638a31;
  background: white;
  border-radius: 10px;
  border: 2px solid #638a31;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
}

.btn__carrito:hover {
  color: white;
  background: #638a31;
  border: 2px solid white;
}